/* see the brand guide for colors, fonts, and images in CodePen: 
https://docs.google.com/document/d/124Wli0Rxp4GhOrrOijzznbnOfNC9kP8wOVZnPZsR2DE/edit?usp=sharing */

/* Mobile Styling */
body {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    color: #131D26;
    background-color: #f2f2f2;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "logo"
        "nav"
        "about-us"
        "contact-us"
        "img-caption"
        "footer";
}
header {
    text-align: center;
}
header img {
    width: 200px;
    grid-area: logo;
}
nav {
    grid-area: nav;
}
nav li {
    position: relative;
    list-style-type: none;
    left: -15px;
}
nav a {
    text-decoration: none;
    color: #131D26;
    padding: 10px;
    border-bottom: 3px solid #f2f2f2;
}
nav a:hover {
    border-bottom: 3px solid #131d26;
    
}
.about-us {
    background-color: #082b59;
    padding: 20px;
    color: #f2f2f2;
    margin-bottom: 20px;
    grid-area: about-us;
}
.about-us a {
    color: #d98555;
    font-weight: bold;
}
.about-us a:hover {
    color: #f2f2f2;
}
.products-parent {
    background-color: #59331d;
    padding: 20px;
    color: #f2f2f2;
    margin-bottom: 20px;
}
.card {
  background-color: #f2f2f2;
  color: #131d26;
  padding: 10px 10px;;
  margin: 10px;
  width: 70%;
  display: inline-block;
  border-radius: 20px;
}
.card img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}
.card h2 {
  color: #131d26;
}
h1, h2 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: bold;
    color: #f2f2f2;
}
.contact-us-info h1 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: bold;
  color: #131d26;
}
.intro {
  padding: 10px;
  margin: 10px;
}
.intro a {
  background-color: #d98555;
  color: #f2f2f2;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
}
.intro a:hover {
  color: #59331d;
  padding: 5px;
  border-radius: 10px;
}
.welcome-img {
  content: url(/images/gulp-menu.jpg);
  object-fit: contain;
  display: inline-block;
}
.contact-us-img {
  content: url(/images/gulp-drinking-coffee.jpg);
  object-fit: contain;
  display: inline-block;
}
.intro h2 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: bold;
    color: #131d26;
}
.contact-us {
    text-align: center;
    grid-area: contact-us;
}
.contact-us button {
    margin: 20px;
    padding: 0px 10px;
    border: 3px solid #d98555;
    border-radius: 10px;
    color: #d98555;
}
.contact-us button:hover {
    margin: 20px;
    padding: 0px 10px;
    border: 3px solid #f2f2f2;
    background: #d98555;
    border-radius: 10px;
    color: #f2f2f2;
}
.img-caption {
    grid-area: img-caption;
}
.img-caption figure {
    text-align: center;
    background-color: #59331d;
    color: #f2f2f2;
    padding: 20px;
    margin: 20px;
}
.img-caption img {
    background-color: #f2f2f2;
    padding: 10px;
    content: url(/images/gulp-pouring-coffee-horizontal-sm.jpg);
}
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #082b59;
    color: #f2f2f2;
    grid-area: footer;
  }
  footer ul {
    list-style-type: none;
  }
  footer li {
    padding: 5px;
  }
  footer a {
    text-decoration: none;
    color: #f2f2f2;
  }
  footer a:hover {
    text-decoration: underline;
    padding: 10px;
  }

/* Tablet Styling */
@media only screen and (min-width: 600px){
    body {
        font-family: "Lato", serif;
        font-weight: 400;
        font-style: normal;
        color: #131D26;
        background-color: #f2f2f2;
        margin: 0;
        text-align: center;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "header about-us about-us"
            "header contact-us img-caption"
            "footer footer footer";
    }
    header {
        text-align: center;
    }
    header img {
        width: 200px;
        grid-area: logo;
    }
    nav {
        grid-area: nav;
    }
    nav li {
        position: relative;
        list-style-type: none;
        left: -15px;
    }
    nav a {
        text-decoration: none;
        color: #131D26;
        padding: 10px;
        border-bottom: 3px solid #f2f2f2;
    }
    nav a:hover {
        border-bottom: 3px solid #131d26;
        
    }
    .about-us {
        background-color: #082b59;
        padding: 20px;
        color: #f2f2f2;
        margin-bottom: 20px;
        grid-area: about-us;
    }
    .about-us a {
        color: #d98555;
        font-weight: bold;
    }
    .about-us a:hover {
        color: #f2f2f2;
    }
    h1 {
        font-family: "Poppins", serif;
        font-weight: 700;
        font-style: bold;
        color: #f2f2f2;
    }
    .contact-us {
        text-align: center;
        grid-area: contact-us;
    }
    .contact-us button {
        margin: 20px;
        padding: 0px 10px;
        border: 3px solid #d98555;
        border-radius: 10px;
        color: #d98555;
    }
    .contact-us button:hover {
        margin: 20px;
        padding: 0px 10px;
        border: 3px solid #f2f2f2;
        background: #d98555;
        border-radius: 10px;
        color: #f2f2f2;
    }
    .img-caption {
        grid-area: img-caption;
    }
    .img-caption figure {
        text-align: center;
        background-color: #59331d;
        color: #f2f2f2;
        padding: 20px;
        margin: 20px;
    }
    .img-caption img {
        background-color: #f2f2f2;
        padding: 10px;
        content: url(/images/gulp-pouring-coffee-vertical.jpg);
    }
    .welcome-img {
      content: url(/images/gulp-menu.jpg);
      object-fit: contain;
      display: inline-block;
      width: 400px;
    }
    .contact-us-img {
      content: url(/images/gulp-drinking-coffee.jpg);
      object-fit: contain;
      display: inline-block;
      width: 400px;
    }
    .intro a {
      background-color: #d98555;
      color: #f2f2f2;
      padding: 5px;
      text-decoration: none;
      border-radius: 10px;
    }
    .intro a:hover {
      color: #59331d;
      padding: 5px;
      border-radius: 10px;
    }
    footer {
        text-align: center;
        margin-top: 40px;
        padding: 20px;
        background-color: #082b59;
        color: #f2f2f2;
        grid-area: footer;
    }
    footer ul {
      list-style-type: none;
    }
    footer li {
      padding: 5px;
    }
    footer a {
      text-decoration: none;
      color: #f2f2f2;
    }
    footer a:hover {
      text-decoration: underline;
      padding: 10px;
    }
  }

  /* Desktop Styling*/
  @media only screen and (min-width: 1025px){
    body {
        font-family: "Lato", serif;
        font-weight: 400;
        font-style: normal;
        color: #131D26;
        background-color: #f2f2f2;
        margin: 0;
        text-align: center;
        box-sizing: border-box;
        display: grid;
        grid-template-areas:
            "header about-us about-us"
            "header contact-us img-caption"
            "footer footer footer";
        grid-template-columns: 1fr 3fr;
      }
      header {
        padding: 10px;
        grid-area: header;
      }
      .header-logo {
        width: 100%;
        float: left;
      }
      nav li {
        list-style-type: none;
        position: relative;
        left: -15px;
        margin-top: 30px;
      }
      nav a {
        text-decoration: none;
        color: #131D26;
        padding: 10px;
      }
      nav a:hover {
        border-bottom: 3px solid #131d26;
      }
      .about-us {
        background-color: #082b59;
        padding: 20px;
        color: #f2f2f2;
        margin-bottom: 20px;
        grid-area: about-us;
      }
      .about-us a {
        color: #d98555;
        font-weight: bold;
      }
      .about-us a:hover {
        color: #f2f2f2;
      }
      .intro a {
        background-color: #d98555;
        color: #f2f2f2;
        padding: 5px;
        text-decoration: none;
        border-radius: 10px;
      }
      .intro a:hover {
        color: #59331d;
        padding: 5px;
        border-radius: 10px;
      }
      h1 {
        font-family: "Poppins", serif;
        font-weight: 700;
        font-style: bold;
        color: #f2f2f2;
      }
      
      .contact-us {
        grid-area: contact-us;
        margin: auto;
      }
      .contact-us button {
        margin: 20px;
        padding: 0px 10px;
        border: 3px solid #d98555;
        border-radius: 10px;
        color: #d98555;
        font-size: 18px;
        font-family: "Poppins", serif;
      }
      .contact-us button:hover {
        margin: 20px;
        padding: 0px 10px;
        border: 3px solid #f2f2f2;
        background: #d98555;
        border-radius: 10px;
        color: #f2f2f2;
      }
      .img-caption {
        grid-area: img-caption;
      }
      .img-caption figure {
        text-align: center;
        background-color: #59331d;
        color: #f2f2f2;
        padding: 20px;
        margin: 20px;
      }
      .img-caption img {
        background-color: #f2f2f2;
        padding: 10px;
        content: url(/images/gulp-pouring-coffee-horizontal.jpg);
      }
      .welcome-img {
        content: url(/images/gulp-menu.jpg);
        object-fit: contain;
        display: inline-block;
        width: 500px;
      }
      .contact-us-img {
        content: url(/images/gulp-drinking-coffee.jpg);
        object-fit: contain;
        display: inline-block;
        width: 500px;
      }
      footer {
        text-align: center;
        margin-top: 40px;
        padding: 20px;
        background-color: #082b59;
        color: #f2f2f2;
        grid-area: footer;
      }
      footer ul {
        list-style-type: none;
      }
      footer li {
        padding: 5px;
      }
      footer a {
        text-decoration: none;
        color: #f2f2f2;
      }
      footer a:hover {
        text-decoration: underline;
        padding: 10px;
      }
  }


  